html {
    display: block;
    flow: vertical;
    overflow:hidden;
}

body {
    margin: 0;
    size: *;

    overflow:none;

    flow: vertical;

    padding: 10dip;

    background: white;

    color: rgb(100,100,100);
}

header {
    display: block;
    flow: horizontal;

    width: *;
    height: max-content;
}

header > span {
    height: *;
    width: *;

    vertical-align: middle;
    font-size: 12dip;
}

header > window-button#close {
    display: inline-block;

    margin-left: *;
    margin-right: 0;
}

main {
    flow: horizontal;

    size: *;

    margin: 0;
}


.hbox {
    width: *;

    flow: horizontal;
    border-spacing: 1.0em;
}

.vbox {
    width: *;

    flow: vertical;
    border-spacing: 1.0em;
}

editbox {
    width: 100dip;

    margin-bottom: 10dip;
}

.styled {
    background: blueviolet !important;
    border: 3px solid yellow !important;
}

.styled:empty {
    color: #fff !important;
}

label {
    width: *;
}

/* edit */
/* create new ruleset std-edit2 based on std-edit set */
@set std-edit2 < std-edit {
    :root {
        display: block;

        height: 1.6em;
    }
}

/* create new control editbox that uses std-edit ruleset */
editbox {
    style-set: std-edit2;
}

plaintext#logger {
    margin-top: *;
    height: 60dip;
}